body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  display: grid;
  background-color: antiquewhite;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}

.card {
  margin-left: 5%;
  width: 450px;
  height: 250px;
  border-radius: 15px;
  min-width: 300px;
  min-height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front {
  background-image: url('bg-card-front.png');
  background-size: 90%;
  background-repeat: no-repeat;
}

.back{
  margin-left: 12%;
  background-image: url('bg-card-back.png');
  background-size: 90%;
  background-repeat: no-repeat;
}

.form {
  margin: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55%;
}

input {
  margin: 5px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid rgb(175, 173, 173);
}

.card-date-cvc {
  display: flex;
}

label {
  font-size: 18px;
}



.mm {
  width: 30%;
  padding: 8px;
}

.yy {
  width: 30%;
  padding: 8px;
}

.confirm {
  width: 109%;
  padding: 8px;
  background-color: rgb(73, 2, 121);
  color: white;
  border: 2px solid rgb(73, 2, 121);
  border-radius: 10px;
  margin-top: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 5%;
  margin-top: 2%;
}

.exp-date {
  padding-right: 10%;
}

.card-number {
  margin-top: 7%;
  width: 100%;
  font-size: 180%;
}

.cvc {
  margin-top: -2%;
  margin-left: 72%;
}

.card-logo {
  margin-left: 5%;
}