body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: 40vw 100%;
  margin: 0px;
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.main-content {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.card {
  width: 450px;
  height: 250px;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.front {
  background-image: url('./assets/bg-card-front.png');
  background-size: 90%;
  background-repeat: no-repeat;
  position: relative;
  left: -15%;
}

.back{
  background-image: url('./assets/bg-card-back.png');
  background-size: 90%;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
  width: 270px;
  margin-top: 50px;
}

input {
  margin-top: 7px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid rgb(175, 173, 173);
}

.card-date-cvc {
  display: flex;
}

label {
  font-size: 18px;
}

.mm, .yy {
  width: 30%;
  padding: 8px;
}

.mm {
  margin-right: 10px;
}

.cvc-label {
  width: 30%;
}

.confirm {
  width: 107%;
  padding: 8px;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: 2px solid hsl(278, 68%, 11%);
  border-radius: 8px;
  margin-top: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 5%;
  margin-top: 2%;
}

.exp-date {
  padding-right: 10%;
}

.card-number {
  margin-top: 7%;
  width: 100%;
  font-size: 180%;
}

.cvc {
  margin-top: -2%;
  margin-left: 72%;
}

.card-logo {
  margin-left: 5%;
  width: 80px;
  height: 45px;
}

.confirmed-div {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.completed-logo {
  width: 60px;
  height: 60px;
}
.confirmed {
    width: 240px;
    padding: 10px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: 2px solid hsl(278, 68%, 11%);
    border-radius: 8px;
    margin-top: 20px;
}

h2 {
  width: 200px;
  margin-top: 10%;
  margin-bottom: 2%;
  text-align: center;
}
p {
  color: grey;
}

.error {
  color: red;
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: 5px;
}

@media screen and (max-width: 950px) {
  .card {
    width: 300px;
    height: 200px;
  }

  .card-number {
    font-size: 18px;
  }

  .card-logo {
    height: 30px;
    width: 50px;
    margin-top: -35px;
  }

  .card-owner, .exp-date {
    font-size: 15px;
  }

  .main-content {
    gap: 25px;
  }

  .cvc {
    margin-top: -35px;
    font-size: 15px;
  }
  .form {
    width: 200px;
    margin-top: 15%;
  }
  .mm, .yy {
    width: 25%;
  }
  label {
    font-size: 18px;
  }
  .card-cvc {
    margin-top: 18px;
  }
  .confirmed-div {
    width: 180px;
    font-size: 15px;
  }
  .confirmed {
    width: 200px;
  }
}

@media screen and (max-width: 650px) {
  .main-content {
    gap: 5px;
  }
  .card {
    width: 250px;
  }
  .front {
    left: -5%;
  }
  .back {
    margin-top: -50px;
  }
  .card-cvc, .card-number, .card-owner {
    font-size: 15px;
  }
  .card-logo {
    width: 30px;
    height: 20px;
  }
  .cvc {
    margin-top: -60px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-size: 100vw 30vh;
    margin: 0px;
    height: 100vh;
  }
  .main-content {
    flex-direction: column;
    gap: 0px;
    margin-top: -50px;
  }
  .card {
    border-radius: 1px;
    margin: 0px;
  }
  .cards {
    margin-left: 20px;
  }
  .form {
    margin-top: -200px;
    height: 0px;
    min-height: 200px;
    width: 300px;
    margin-left: -30px;
  }
  .front {
    left: -40px;
  }
  .back {
    position: relative;
    top: -280px;
    right: -40px;
    z-index: -1;
  }
  .mm, .yy {
    margin-top: 22px;
  }
  .confirmed-div {
    margin-top: -200px;
  }
  .confirmed {
    width: 300px;
  }
  .confirmed-div {
    width: 300px;
    font-size: 16px;
  }
  .completed-logo {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-height:650px){
  .main-content {
    margin-top: 30px;
  }
}