body {
  margin: 0px;
  background-image: url('./bg-main-desktop.png');
  background-position: left;
  background-size: 35vw 100vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  grid-column: 2;
  margin-top: 5em;
  margin-left: 5em;
  max-width: 80%;
  max-height: 80%;
}

label {
  font-size: 1.3em;
}

input {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  border: 1.5px solid rgb(54, 24, 185);
}

.card {
  margin-right: 5em;
  margin-bottom: 2em;
  max-width: 500px;
  max-height: 400px;
}

.back {
  margin-left: 5em;
}

.exp-date {
  display: flex;
  margin-right: 1em;
}

.card-date-cvc {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.card-date {
  width: 20%;
  margin-right: 1.2em;
}

.card-cvc {
  width: 100%;
  grid-column: 3;
}


.confirm {
  margin-top: 0.5rem;
  background-color: hsl(278, 68%, 11%);
  width: 106.5%;
  border: 2px solid hsl(278, 68%, 11%);
  border-radius: 8px;
  padding: 15px;
  color: white;
}